[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"

[dev-packages]

[scripts]
start = "flask run --debug --port 8000"

[requires]
python_version = "3.12"
